@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

body {
    background: #f5f5f5;
    overflow: scroll;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 48px;
    background: indigo;
    color: #f5f5f5;
    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#container {
    color: indigo;
    min-width: 322px;
    max-width: 616px;
}

#container h1 {
    height: 40px;

    margin: 12px 0;
    border-bottom: 2px solid indigo;
    
    display: flex;
    justify-content: center;
}

#container #list {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#container #list .days {
    list-style: none;

    height: 24px;
    min-width: 46px;

    color: #f5f5f5;
    border-radius: 4px;
    padding: 2px 4px;
    margin: 4px;
    background: rgba(76, 0, 130, 0.5);
}

#container #list .before {
    font-size: 28px;
    font-weight: bold;
    list-style: none;
    color: whitesmoke;

    width: 46px;
    padding: 4px 8px;
    margin: 4px;
    
    background: gray;
    border-radius: 4px;
    box-shadow: 1px 1px 6px rgb(142, 65, 197);
}

#container #list .month {
    font-size: 28px;
    font-weight: bold;
    color: indigo;

    width: 46px;
    padding: 4px 8px;
    margin: 4px;

    background: white;
    border-radius: 4px;
    box-shadow: 1px 1px 6px rgb(142, 65, 197);
    list-style: none;
    transition: 0.3s;
}

#container #list button {
    border: none;
    background: #f5f5f5;
}


#container .tasks-container {
    font-size: 14px;
    font-weight: 300;
    padding: 0 2px;

}

/* MENU */

#container #list .month:hover {
    background: purple;
    cursor: pointer;
    color: #fff;
    transform: scale(1.3);
}


#barra {
    position: relative;

    background: indigo;
    color: whitesmoke;
    margin-left: 24px;
    padding: 8px;
    border-radius: 4px;

    left: -500px;
    width: 0;
    transition: all 0.4s linear;
}

#barra #tasks {
    max-height: 420px;
    overflow-y: scroll;
    overflow-x: hidden;
    
    background: #24003d;
    margin: 8px 8px 8px 4px;
    border: 1px whitesmoke solid;
    border-radius: 4px;
    transition: 0.5s;
}

#barra #tasks::-webkit-scrollbar {
    display: none;
}

#barra #create-tasks {
    width: 100%;
    margin-top: 14px;
    padding: 0 6px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: whitesmoke;
}

#barra #create-tasks textarea {
    width: 100%;
    min-height: 100px;
    max-height: 120px;

    font-size: 16px;
    color: whitesmoke;

    padding: 6px;
    border-radius: 4px;
    background: #24003d;
    border-color: whitesmoke;
    
}

#barra #create-tasks #create button {
    position: relative;

    width: 100%;
    min-width: 100px;
    height: 5vh;

    border-radius: 4px;
    border: 1px black whitesmoke;
    margin-top: 10px;

    font-size: 16px;
    font-weight: bold;
    background: whitesmoke;

    cursor: pointer;
    transition: linear 0.3s;
}

#barra #create-tasks button:hover {
    background: #24003d;
    color: white;
    opacity: 0.8;
}

#check-menu:checked + #barra{
    width: 380px;

    margin-right: 60px;
    transform: translateX(500px);
}