/* CHECKBOX STYLE */

.tasks-container *{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    color: whitesmoke;
}

.tasks-container input[type=checkbox] + label {
    display: grid;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.1em;
    font-size: 1.6rem;
}

.tasks-container input[type=checkbox] {
    display: none;
}

.tasks-container input[type=checkbox] + label:before {
    content:"\2714";
    border: 2px solid #60CDFF;
    display:inline-block;
    width: 1em;
    min-width: 18px;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: 0.3s;
}

.tasks-container input[type=checkbox] + label:active:before {
    transform: scale(0.1);
}

.tasks-container input[type=checkbox]:checked + label:before {
    background: #60CDFF;
    border-color: #60CDFF;
    color: #fff;
}

.tasks-container input[type=checkbox]:disabled + label:before {
    transform:scale(1);
    border-color: #aaa;
}

.tasks-container input[type=checkbox]:checked + label:before {
    transform:scale(1);
    background-color: #60CDFF;
    border-color: #60CDFF;
}