#create-event-check {
    display: none;
}

.create-event-blur.on {
    display: initial;
}

#create-event-blur.on ~ main {
    filter: blur(1px);
}

.create-event-blur {
    position: absolute;
    width: 100vw;
    height: 100vh;

    top: 0;
    z-index: 10;
    display: none;
}

#create-event {
    position: absolute;
    width: 50vw;
    min-width: 300px;

    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: center;
    background-color: #fff;
    border: 1px rgb(200, 200, 200) solid;
    box-shadow: 2px 2px 8px rgba(200, 200, 200, 0.5);


    color: #34485E;

    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

#create-event .create-event-return {
    position: absolute;
    width: 32px;
    height: 32px;
  
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: 1px solid rgb(200, 200, 200);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    left: 8px;
    transition: 1s;
}

#create-event .create-event-return:hover {
    box-shadow: 2px 2px 8px rgba(200, 200, 200, 0.4);
    background-image: linear-gradient(#fff, rgba(200, 200, 200, 0.4));
}

#create-event h2 {
    width: 260px;
    font-size: 2rem;
    margin: 24px 0 8px 0;
    text-align: center;
    border-bottom: 1px rgb(200, 200, 200) solid;
}

#create-event fieldset {
    position: relative;
    display: flex;
    flex-direction: column;

    border: none;
    font-size: 1.6rem;
}

#create-event fieldset legend {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 8px 0;
}

#create-event #alert {
    width: 260px;
    height: 32px;
    cursor: pointer;
    margin: 8px 0;
    
    font-size: 1.4rem;
    background: #f5f5f5;
    border-color: rgb(200, 200, 200);
    box-shadow: 1px 1px 6px rgb(220, 220, 220);
    
}

#create-event fieldset input {
    height: 32px;
    padding: 0 8px;
}

#create-event fieldset 
textarea, 
input {
    min-width: 260px;
    max-width: 260px;   

    margin: 8px 0;
    font-size: 1.4rem;

    background: #f5f5f5;
    border: 1px rgb(200, 200, 200) solid;
    box-shadow: 1px 1px 6px rgb(220, 220, 220);

    transition: 0.5s;
}

#create-event fieldset textarea {
    min-height: 120px;
    max-height: 120px;
    padding: 8px;
}

#create-event .create-event {
    position: relative;
    width: 40%;
    height: 5vh;
    min-width: 100px;
    max-width: 260px;

    border-radius: 4px;
    border: none;
    margin-top: 10px;

    font-size: 1.6rem;
    font-weight: bold;
    color: white;

    background: #60CDFF;
    cursor: pointer;
    transition: linear 0.3s;
}

#create-event .create-event:hover {
    background: #6B7897;
    opacity: 0.8;
}

#event-menu {
    display: none;
}

.event-container {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 8px;
    margin-top: 56px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;

    z-index: 2;
    right: 0;
    top: 0;

    transform: translateX(-100%);
    transition: all 0.5s;
}

.event-container.on {
    transform: translateX(0%);
};

.event-list-container h3 {
    padding-top: 4px;
    margin: 4px 0;
    text-align: center;
}


.event-list {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;

    list-style: none;
    flex-direction: column;
    align-items: center;
    
    padding-bottom: 32px;
    background-color: #f5f5f5;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 2px 2px 8px rgba(200, 200, 200, 0.5);

    overflow-x: hidden;
    overflow-y: scroll;
}

.event-list::-webkit-scrollbar {
    scroll-behavior: smooth;
    width: 8px;
}

.event-list::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
}

.event {
    position: relative;
    width: 100%;
    margin: 8px 0;
    padding: 4px;
    border-bottom: 1px solid rgba(200, 200, 200);
}

.event span {
    font-size: 1.6rem;
}

.event-container .event-delete {
    position: absolute;
    width: 24px;
    height: 24px;

    font-size: 1.6rem;
    font-weight: bold;
    color: #6B7897;
    cursor: pointer;
   
    border-radius: 50%;
    background-color: #f5f5f5;
    border: 1px solid #34485E;

    top: 4px;
    right: 4px;
    transition: 0.6s;
}

.notification-delete:hover, 
.event-delete:hover, 
.todo-delete:hover {
    color: red;
    border-color: red;
}